html, body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  background: black;
  color: white;
}

.phone-view {
  width: 360px;
  height: 567px;
  border: 5px solid rgb(80, 80, 80);
  overflow: auto;
  position: relative;
}